* {
    font-family: 'Chillax Medium';
}

.topbar-window {
    background-color: transparent;
}

.topbar-box {
    background-color: rgba(19,22,28,0.8);
    border-radius: 6px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    color: #cdd6f4
}

.topbar-windowtitle-class {
    font-size: smaller;
}

.topbar-windowtitle-title {
    font-weight: 800;
}

.topbar-workspaces {
    background-color: #1D212A;
    border-radius: 6px;
}

.topbar-workspaces-button {
    background-color: transparent;
}

.topbar-music-status-box {
    font-size: smaller;
    transition: all 0.5s;
    border-radius: 6px;

    padding: 0px 15px 0px 10px;
}

.topbar-music-status-box.hover {
    background: linear-gradient(to bottom right, #A7BDFB, #81D4EE);
    transition: all 0.5s;
    color: #13161c;
}

.topbar-music-progress {
    background-color: #1e1e2e;
    color: #cba6f7;
    min-width: 20px;
    min-height: 20px;
    font-size: 2px;
    transition: all 0.3s;
}

.topbar-music-progress.hover {
    color: #13161c;
    background-color: transparent;
}

.topbar-workspaces-button-circle {
    background-color: #A7BDFB;
    border-radius: 10px;
    margin: 6px 1px 5px 1px;
    transition: all 0.3s ease;
}

.topbar-workspaces-button-circle.active {
    background-color: #D990CD;
}



.topbar-widgets-right-control-battery {
    font-size: 2px;
    min-width: 20px;
    min-height: 20px;
}

.topbar-widgets-right-control-battery-charging {
    color: #89E19C;
    font-size: 2px;
    min-width: 20px;
    min-height: 20px;
}

.topbar-widgets-right-control-audio {
    color: #FC8993;
    font-size: 2px;
    min-width: 20px;
    min-height: 20px;
}

.notifications-popup-window {
    padding: 10px;
    border-radius: 6px;
    background-color: #13161c;
    min-width: 200px;
}

/* From aylurs-gtkshell notification center example */
#popup-window {
    background-color: transparent;
}

#popup-window .notification > * {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

#popup-window *,
#notification-center *{
    outline: none;
    color: white;
}

button {
    border: none;
    box-shadow: none;
    border-radius: 7px;
    background-color: rgba(255,255,255, 0.1);
}

button:hover {
    background-color: rgba(255,255,255, 0.2);
}

button:active {
    background-color: rgba(255,255,255, 0.3);
}

.section {
    border-bottom: 1px solid white;
    border-radius: 16px;
    font-size: small;
    font-weight: 200;
}

.notification > * {
    margin: 8px;
    padding: 12px;
    border-radius: 15px;
    background-color: #1D212A;
    min-width: 250px;
}

.notification .icon {
    border-radius: 7px;
    margin-right: 8px;
}

.notification .close-button {
    padding: 0;
    margin: 0;
    min-height: 1.4em;
    min-width: 1.4em;
    border-radius: 1em;
}

.notification .title {
    font-size: 1.1em;
    color: white;
}

.notification .description {
    color: rgba(255, 255, 255, 0.7);
}

.list {
    margin: 8px;
    min-width: 380px;
}

.action-button {
    margin: 0 4px;
}

.action-button:first-child {
    margin-left: 0;
}

.action-button:last-child {
    margin-right: 0;
}

.action-button:last-child:first-child {
    margin: 0;
}

.header {
    padding: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.placeholder image {
    font-size: 8em;
}

.placeholder label {
    font-size: 1.4em;
}



.notification-center-head-title {
    font-size: x-large;
    font-family: 'Chillax Bold';
    font-weight: 800;
}

.notification-center-head-body {
    font-size: x-small;
}

.notification-center-box {
    min-height: 300px;
    background-color: rgb(19,22,28);
    /* background-color: #13161c; */

    border-radius: 16px;
    padding: 15px;
}

.dashboard-notification-center-system-usage-label {
    font-size: x-small;
}

.dashboard-notification-center-cpu-usage trough progress {
    background-color: #FBDF90;
}

.dashboard-notification-center-ram-usage trough progress {
    background-color: #A7BDFB;
}

.dashboard-notification-center-box {
    background-color: transparent;
}

.dashboard-notification-center-box-usage {
    background-color: rgb(19,22,28);
    padding: 10px;
    border-radius: 16px;
}

.separator {
    min-width: 200px;
}

.notification-center-noti {
    border: 1px solid #A7BDFB;
    border-radius: 6px;
    padding: 10px;
}

.dashboard-control-center-box {
    background-color: rgb(19,22,28);
    border-radius: 16px;
    min-width: 350px;
    padding: 15px;
}

.dashboard-control-center-uptime {
    font-size: x-small;
}

.audio-controller-title {
    border-bottom: 1px solid white;
    border-radius: 16px;
    font-size: small;
    font-weight: 200;
}

.dashboard-control-center-user {
    font-size: x-large;
    font-weight: 800;
}

.dashboard-quicksettings-button {
    border-radius: 25px;
    background-color: #13161c;
    color: grey;
    transition: all 0.5s;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dashboard-quicksettings-button.toggled {
    background: linear-gradient(to bottom right, #cba6f7, #81D4EE);
    color: black;
}

.dashboard-app-mixer-info {
    margin-left: 10px;
    margin-right: 15px;
}

.dashboard-app-mixer-title {
    font-size: large;
    font-weight: 800;
}

.runner {
    padding: 10px;
    border-radius: 16px;
    background-color: #13161c;
    min-width: 400px;
}

.runner-result-box {
    padding: 10px;
    border-radius: 16px;
    background-color: #13161c;
}

.dashboard-music-controller {
    min-height: 150px;
    border-radius: 16px;
    background-color: #13161c;
    padding: 10px;
}

.dashboard-music-background {
    border-radius: 16px;
    padding: 10px;
}

.dashboard-music-info {
    background-color: rgba(30,30,46,0.9); 
    border-radius: 14px;
    padding: 15px;
}

.dashboard-music-info-bottom {
    padding: 15px;
}

.dashboard-music-info-title {
    font-size: x-large;
    font-weight: 800;
}

.dashboard-music-info-artists {
    font-size: smaller;
}

.dashboard-music-info-button {
    background-color: transparent;
    /* border: 1px solid white; */
    border-radius: 50px;
}

.disk-manager {
    padding: 10px;
}

.disk-manager-item {
    padding: 10px;
    border-radius: 16px;
    background-color: #1D212A;
}

.dashboard-control-center-stack-button {
    border-radius: 16px;
    background-color: transparent;
    transition: all 0.5s;
}

.dashboard-control-center-stack-button.toggle {
    background: linear-gradient(to bottom right, #A7BDFB, #81D4EE);
    color: black;
}

.dashboard-control-center-stack-button-box {
    background-color: #1D212A;
    border-radius: 16px;

}

progress, trough {
    border-radius: 10px;
    min-height: 10px;
}

progress, trough highlight {
    border-radius: 10px;
}