* {
    font-family: 'Chillax Medium';
}

.topbar-window {
    background-color: transparent;
}

.topbar-box {
    background-color: rgba(19,22,28,0.8);
    border-radius: 6px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    color: #cdd6f4
}

.topbar-windowtitle-class {
    font-size: smaller;
}

.topbar-windowtitle-title {
    font-weight: 800;
}

.topbar-workspaces {
    background-color: #1D212A;
    border-radius: 6px;
}

.topbar-workspaces-button {
    background-color: transparent;
}

.topbar-music-status-box {
    font-size: smaller;
    transition: all 0.5s;
    border-radius: 6px;

    padding: 0px 15px 0px 10px;
}

.topbar-music-status-box.hover {
    background: linear-gradient(to bottom right, #A7BDFB, #81D4EE);
    transition: all 0.5s;
    color: #13161c;
}

.topbar-music-progress {
    background-color: #1e1e2e;
    color: #cba6f7;
    min-width: 20px;
    min-height: 20px;
    font-size: 2px;
    transition: all 0.3s;
}

.topbar-music-progress.hover {
    color: #13161c;
    background-color: transparent;
}

.topbar-workspaces-button-circle {
    background-color: #A7BDFB;
    border-radius: 10px;
    margin: 6px 1px 5px 1px;
    transition: all 0.3s ease;
}

.topbar-workspaces-button-circle.active {
    background-color: #D990CD;
}



.topbar-widgets-right-control-battery {
    font-size: 2px;
    min-width: 20px;
    min-height: 20px;
}

.topbar-widgets-right-control-battery-charging {
    color: #89E19C;
    font-size: 2px;
    min-width: 20px;
    min-height: 20px;
}

.topbar-widgets-right-control-audio {
    color: #FC8993;
    font-size: 2px;
    min-width: 20px;
    min-height: 20px;
}

.notifications-popup-window {
    padding: 10px;
    border-radius: 6px;
    background-color: #13161c;
    min-width: 200px;
}